doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Welcome Email
  body
    header
      h1 Welcome to XFlowUp!
    section
      p Hi #{name},
      p Welcome to XFlowUp! We're excited to have you on board and look forward to helping you manage and optimize your workflows.
      p To get started, please visit our website and log in to your new account.
    footer
      p Thank you for choosing XFlowUp!
      p(c) 2025 XFlowUp. All rights reserved.
